/* Estilos CSS */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bgcinturon.jpg');
  background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #887c7c;
  font-size: 16px; /* Tamaño base del texto */
}

.login-container {
  width: 500px; /* Aumentar el ancho del contenedor principal */
  padding: 40px; /* Aumentar el espacio interior */
  background-color: #ccb6b6d5;
  border-radius: 12px; /* Hacer los bordes más redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Incrementar la sombra */
}

h1 {
  text-align: center;
  font-size: 40px; /* Aumentar el tamaño del título */
  margin-bottom: 30px; /* Incrementar el espacio entre el título y el formulario */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
  font-size: 18px; /* Aumentar el tamaño de fuente de los campos de entrada y botón */
  padding: 12px; /* Incrementar el relleno */
  border-radius: 6px; /* Hacer los bordes de los campos y botón más redondeados */
  border: 1px solid #ffffff; /* Agregar un borde para resaltar */
}

/* Aquí puedes ajustar el espacio entre el campo de contraseña y el botón */
input[type="password"] {
  margin-bottom: 3px; /* Cambiar este valor para ajustar la separación */
}

button {
  border: none;
  background-color: #d3782e;
  color: #ffffffaf;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Transición para suavizar el cambio */
  margin-top: 15px;
}

button:hover {
  background-color: #8328b8;
  transform: scale(1.05); 
}

a {
  color: #a07b14;
  text-decoration: none; 
  font-weight: bold; 
}

a:hover {
  color: #360a50; 
}
